@media screen and (max-width:600px) {
  .header {
    display: block;
    position: fixed;
    width: 50px;
    height: 26px;
    right: 0;
    padding: 10px 0;
    font-size: 5vw;
    transition: all 1s;
    background-color: $cBlack;
    color: $cWhite;
  }
  
  .header__btn {
    display: block;
    background-color: unset;
    border: none;
    outline: none !important;
    cursor: pointer;

      span {
      background-color: white;
      width: 35px;
      height: 2px;
      display: block;
      margin-bottom: 9px;
      transition: transform 0.7s;
      margin-right: 0;

      &:last-child {
          margin-bottom: 0;
      }
    }
  }
  
  .header__logo {
    display: none;
    opacity: 0;
    transition: all 1s;
    margin-bottom: 10px;
    h1 {
      font-size: 6.5vw;
    }
  }

  .header__nav {
      display: none;
      opacity: 0;
      margin-left: 0;
      font-size: 5vw;
      transition: all 1s;
  }
  
  .header__nav-list {
    display: block;
  }

  .header__nav-link {
    opacity: 1;
  }

  .head-container.menu-open {

    .header {
      display: block;
      text-align: left;
      width: fit-content;
      height: fit-content;
      right: 0;
      background-color: white;
      padding: 10px;
      border: 2px solid $cBlack;
      z-index: 2;
      box-shadow: 0px 0px 10px $cWhite;
    }

    .header__btn {
      margin: 0 auto;

      & > span {
        background-color: $cBlack;
        &:nth-child(1) {
            transition-delay: 70ms;
            transform: translateY(11px) rotate(135deg);
        }
        &:nth-child(2) {
            transition-delay: 0s;
            transform:  translateX(-18px) scaleX(0);
        }
        &:nth-child(3) {
            transition-delay: 140ms;
            transform: translateY(-11px) rotate(-135deg);
        }
      }
    }

    .header__logo{
      display: block;
      opacity: 1;
    }
    .header__nav {
      display: block;
      opacity: 1;
    }
  }

  .section__title {
    width: 100%;
    padding: 0;
    text-align: center;
    font-size: 15vw;
  }
  .card-cmp {
    width: 100%;
    margin: 0 0 10vw 0;
  }

  .card__title {
    font-size: 30px;
  }

  .skill-list-item {
    width: 50%;
    font-size: 26px;
  }

  section#works .swiper-container {
    margin: 0 auto;
    margin-top: 40px;
    width: 80%;
    height: fit-content;
    overflow: hidden;
  }

  .service-list-item {
    width: 100%;
  }
  
  .page__img {
    width: 100%;
  }

  .blog__title {
    font-size: 30px;
  }

  .blog__content {
    font-size: 14px;
  }


.like-list {
  justify-content: center;
}
.like-list-item {
  
  .img-container {
    width: 30px;
    height: 30px;

    img {
      line-height: 30px;
    }
  }
}
.wpcf7-form-control-wrap {
  width: 80%;
}
}

