html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'RocknRoll One', sans-serif;
}

h1, h2, h3, h4, p, figure {
  margin: 0;
  padding: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #956c28;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  position: fixed;
  top: 0px;
  z-index: 10;
  background: #949494;
  width: 100%;
}

.header .header__btn {
  display: none;
}

.header .header__logo h1 {
  font-size: 1.8vw;
  padding: 0 1vw;
}

.header .header__nav {
  font-size: 1.8vw;
  width: 100%;
  margin-left: 10vw;
}

.header .header__nav .header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__nav-link {
  color: #000;
  padding: 0 1vw;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  opacity: 0.25;
}

.header__nav-link:hover {
  opacity: 1;
}

.divline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0;
  text-align: center;
  line-height: 8vw;
  font-size: calc(8vw / 2);
  pointer-events: none;
  font-family: 'Rampart One', cursive;
  color: #000;
}

.rotate {
  -webkit-transform: rotate3d(3, -2, 0, 360deg);
          transform: rotate3d(3, -2, 0, 360deg);
  -webkit-transition: all 2s;
  transition: all 2s;
}

.container {
  width: 80%;
  margin: 0 auto;
}

section {
  margin: 30px 0;
  padding: 30px 0;
  border: 2px solid black;
}

section#skills ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section#works .swiper-container {
  margin: 0 auto;
  margin-top: 40px;
  width: 12%;
  height: 700px;
}

section#works .swiper-container img {
  width: 100%;
}

section#web-service .content-list {
  width: 20vw;
}

section#web-service .content-list img {
  width: 100%;
}

.section__title {
  font-size: 80px;
  color: white;
  display: inline-block;
  padding: 0 20px;
  position: relative;
  font-family: 'Rampart One', cursive;
  opacity: 0;
}

.section__title .section__title-sub {
  font-size: 24px;
}

.section__title::after {
  content: "";
  background-color: white;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.section__title.inview {
  opacity: 1;
  -webkit-animation-name: kf-color-change;
          animation-name: kf-color-change;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section__title.inview::after {
  -webkit-animation-name: kf-cover-slide;
          animation-name: kf-cover-slide;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section__content {
  margin: 20px 0;
  font-size: 30px;
  color: white;
  font-family: 'RocknRoll One', sans-serif;
  letter-spacing: 1.4px;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.section__content.inview {
  -webkit-animation-name: kf-inview-up;
          animation-name: kf-inview-up;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.section__content dl dt {
  margin-top: 2vw;
}

.section__content .category ul li {
  margin: 10px 4px;
}

.section__content a {
  text-decoration: none;
  font-weight: bold;
}

.section__content a:visited {
  color: #3b71a5;
}

@-webkit-keyframes kf-cover-slide {
  0% {
    opacity: 1;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    opacity: 1;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@keyframes kf-cover-slide {
  0% {
    opacity: 1;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  50% {
    opacity: 1;
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  50.1% {
    opacity: 1;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
  100% {
    opacity: 1;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
}

@-webkit-keyframes kf-color-change {
  0% {
    color: black;
  }
  49.9% {
    color: black;
  }
  50% {
    color: white;
  }
  50.1% {
    color: black;
  }
  100% {
    color: white;
  }
}

@keyframes kf-color-change {
  0% {
    color: black;
  }
  49.9% {
    color: black;
  }
  50% {
    color: white;
  }
  50.1% {
    color: black;
  }
  100% {
    color: white;
  }
}

@-webkit-keyframes kf-inview-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kf-inview-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.blog-container {
  color: white;
  width: 80%;
  margin: 120px auto;
}

.blog-container .blog-post {
  margin: 100px 0;
}

.blog-container .blog-post a .blog-title {
  font-family: 'Rampart One', cursive;
  font-size: 50px;
}

.blog-container .blog-post .blog-content {
  font-size: 40px;
  color: white;
}

.like-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.like-list-item {
  text-align: center;
  margin: 10px 20px;
}

.like-list-item .img-container {
  background-color: white;
  width: 60px;
  height: 60px;
  border-radius: 30%;
  padding: 20px;
  margin: 0 auto;
}

.like-list-item .img-container img {
  width: 100%;
  height: 100%;
  line-height: 60px;
}

.skill-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skill-list-item {
  margin: 0 auto;
  width: 20%;
  margin-bottom: 60px;
  text-align: center;
}

.card-cmp__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-cmp {
  -webkit-box-shadow: 3px 3px white;
          box-shadow: 3px 3px white;
  border: 6px solid #fff;
  border-radius: 6px;
  width: 30%;
  min-width: 450px;
  background-color: #fff;
  margin-right: 30px;
  margin-bottom: 30px;
}

.card-cmp:hover {
  -webkit-filter: brightness(1.6);
          filter: brightness(1.6);
}

.card__img-wrapper {
  position: relative;
  padding-top: 60%;
  overflow: hidden;
  border: 6px solid #000;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #000;
}

.card__img-wrapper img {
  position: absolute;
  top: 50%;
  width: 100%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card__body {
  position: relative;
  padding: 15px;
  border: 6px solid #000;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #000;
  min-height: 300px;
}

.card__body > *:last-child {
  margin-bottom: 0;
}

.card__title {
  margin-bottom: 5px;
  font-weight: bold;
  font-family: 'Rampart One', cursive;
}

.card__text {
  font-size: 20px;
}

.card__date {
  position: absolute;
  font-size: 16px;
  text-align: right;
  bottom: 0;
  right: 0;
}

.service-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service-wrapper .content-list {
  margin-right: 30px;
}

.page__img {
  position: relative;
  margin: 60px auto;
  text-align: center;
  height: 450px;
  width: 1100px;
  overflow: hidden;
}

.page__img img {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.blog {
  font-size: 24px;
}

.blog h2 {
  border-left: solid 10px #fff;
  padding-left: 16px;
  background-color: #292929;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 20px;
  padding: 8px 16px;
  font-family: 'Rampart One', cursive;
}

.blog h3 {
  border-bottom: solid 4px #fff;
  margin: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.blog li {
  list-style-type: disc;
  list-style-position: inside;
  margin-left: 20px;
}

.blog__container {
  width: 80%;
  margin: 0 auto;
}

.blog__title {
  font-family: 'Rampart One', cursive;
  font-size: 60px;
  border-bottom: solid 2px #fff;
}

.blog__content {
  margin: 20px auto;
}

.archives {
  width: 80%;
  margin: 4vw auto;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 6px 0;
  font-size: 20px;
}

.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-list-item {
  margin-left: 14px;
  list-style-type: none !important;
  padding: 0;
}
